@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Nanum Gothic';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumGothic/NanumGothic-Regular.ttf.woff2)
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nanum Gothic';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumGothic/NanumGothic-Bold.ttf.woff2)
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nanum Gothic';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumGothic/NanumGothic-ExtraBold.ttf.woff2)
    format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream1.otf)
    format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream2.otf)
    format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream3.otf)
    format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream4.otf)
    format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream5.otf)
    format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream6.otf)
    format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream7.otf)
    format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream8.otf)
    format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SCDream';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/S-Core_Dream_OTF/SCDream9.otf)
    format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumSquareRound/NanumSquareRoundL.ttf)
    format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumSquareRound/NanumSquareRoundR.ttf)
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumSquareRound/NanumSquareRoundB.ttf)
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumSquareRound/NanumSquareRoundEB.ttf)
    format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url(https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/files/NanumSquareRound/NanumSquareRoundEB.ttf)
    format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inconsolata/v31/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8WRL2l2eY.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
    U+1EA0-1EF9, U+20AB;
}
